* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.toppart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
li {
    list-style-type: none;
}
ul {
    display: flex;
    gap: 10px;
}

.awesomepart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.awesome-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image {
    padding: 80px 150px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: bolder;
}
.header-text {
    font-size: 18px;
    color: #e5e7eb;
}
#sign1 {
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
}
.inf-part {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.img-part {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.inf-random {
    max-width: 100px;
}
#quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    background-color: #e5e7eb;
    padding: 100px 200px;
    text-align: left;
}
#quote2 {
    display: flex;
    justify-content: flex-end;
}

.contact {
    padding: 50px 150px;
}
#border {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
    padding: 20px 30px;
    color: white;
}
.contact2 {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#sign2 {
    border-color: white;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 3px 10px;
    color: white;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
}
