.header {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding-bottom: 70px;
    padding-left: 150px;
    padding-right: 150px;
}
.toppart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.awesomepart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.awesome-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image {
    padding: 80px 150px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#sign1 {
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
}
.inf-part {
    text-align: center;
    background-color: lightcoral;
}
.img-part {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.inf-random {
    max-width: 100px;
}
#quote {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    background-color: lightgray;
}

.contact {
    margin-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
}
#border {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
    padding: 20px 30px;
    color: white;
}
.contact2 {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#sign2 {
    border-color: white;
    border-radius: 5px;
    background-color: rgb(106, 106, 236);
    padding: 3px 10px;
    color: white;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategrey;
    padding: 20px;
}
